.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;

}


.dialogsItem {
    padding: 10px;

}
.dialogsItem img{
    width: 50px;
    border-radius: 30px;
}
.dialogsItem .active {
    color: orange;
}

.messages {
    padding: 10px;
}

.message {

}